---
layout: base.njk
---
<img src="https://assets.hackclub.com/flag-orpheus-left.png" style="height:96px;width:100%;" alt="A dinosaur hand holding a flag that says, 'Hack Club'.">
<h1>Locust Grove Hack Club</h1>
<p>Meets TBA @ 3:15 PM in room 406.</p>
<h2>
    schedule
</h2>
<ul>
    <li>Thursday, January 19th, 2023 - Intrest meeting</li>
</ul>
<h2>announcements</h2>
<ol>
<li>The first meeting will be on January 19th, 2022 @ 3:15PM</li>
<li>Bring a laptop and yourself!</li>
</ol>

    <h2>sign-up</h2>
<p>You can signup using the <a href="https://forms.gle/mfLQ7Q9ZzBVsDd1Q8">intrest google form</a>.</p>
<h2>text alerts</h2>
<p>Text <code>@lghshack</code> to <code>81010</code> to be reminded for new club meetings, infomation, etc.</p>
<h2>discord</h2>
<p>Feel free to join the <a href="https://discord.gg/6dWZECpRM4">LGHS Hack CLub Discord server using this link.</a></p>
<h2>what is hack club?</h2>
<br><br>