<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="apple-touch-icon" sizes="180x180" href="/meta/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/meta/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/meta/favicon-16x16.png">
    <link rel="manifest" href="/meta/site.webmanifest">
    <meta
      name="title"
      content="Locust Grove Hack Club"
    />
    <meta
      name="description"
      content="Locust Grove High School's Hack Club"
    />

    <meta property="og:type" content="website" />

    <meta
      property="og:title"
      content="Locust Grove Hack Club"
    />
    <meta
      property="og:description"
      content="Locust Grove High School's Hack Club"
    />
    <meta property="og:image" content="" />

    <meta property="twitter:card" content="summary_large_image" />

    <meta
      property="twitter:title"
      content="Locust Grove Hack Club"
    />
    <meta
      property="twitter:description"
      content="Locust Grove High School's Hack Club"
    />
    <meta property="twitter:image" content="" />
    <meta name="keywords" content="locust grove, henry county, hack, hack club, code, club, henry county,
		locust grove high, locust grove high school, coding">
	</head>
    <title>Locust Grove Hack Club</title>
    <link inline rel="stylesheet" href="/style.css" inline />
  <body>
    {{ content | safe }}
  </body>
  <footer>     
</footer>
</html>